[tool.poetry]
name = "shikithon"
version = "0.1.0-beta.3"
description = "Yet another Python wrapper for Shikimori API"
authors = [
    "SecondThundeR <awayfromgalaxy@gmail.com>"
]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/SecondThundeR/shikithon"
repository = "https://github.com/SecondThundeR/shikithon"
documentation = "https://github.com/SecondThundeR/shikithon/README.md"
packages = [
    { include = "shikithon", from = "." }
]
keywords = [
    "Python", "Shikimori", "API"
]
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[tool.poetry.build]
generate-setup-file = false

[tool.poetry.dependencies]
python = "^3.8.10"
requests = "^2.27.1"
pydantic = "^1.9.0"
ratelimit = "^2.2.1"

[tool.poetry.dev-dependencies]
pylint = "^2.13.8"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
